
.footer {
  background: rgba(235, 235, 235, .4);
  padding: 2.5rem 0;

  .footer-navbar {
    display: flex;
    justify-content: space-between;

    .main-nav {
      display: block;
    }
  }

  .phone {
    flex-grow: 1;
    text-align: right;
    color: $primary-color;
    font-weight: 700;
    transition: .35s;
    margin: 0;
    flex-shrink: 0;
    &:hover {
      text-decoration: underline;
    }
  }

  .footer-navbar {
    display: flex;
    justify-content: space-between;
  }
}

@include respond-to($lg) {
  .main-nav {
    display: block;
  }
}

@include respond-to($xs) {
  .footer {
    .footer-navbar {
      flex-direction: column;
      align-items: center;
    }
    .footer-nav {
      margin-bottom: 1.25rem;
    }
  }
}
