.btn {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.1875rem;
  display: inline-flex;
  text-transform: uppercase;
  padding: 0.5rem 1.75rem;
  text-align: center;
  align-items: center;
  font-weight: 700;
  -webkit-transition: .35s;
  transition: .35s;
  &_md {
    padding: 0.69rem 1.15rem;
    font-size: 0.75rem;
    font-weight: 700;
  }
  &_warn {
    background-color:$warning-color;
    color: $primary-color;
    border: 0.125rem solid $warning-color;
    &:hover,
    &:focus {
      background-color: transparent;
      color: $warning-color;
    }
  }
  &_block {
    display: block;
    width: 100%;
  }
}

.input {
  background-color: #ffffff;
  display: block;
  width: 100%;
  appearance: none;
  padding: 0.625rem 2rem 0.5rem;
  font-size: 1.125rem;
  font-family: $secondary-font;
  
  &_strocked{
    position: relative;
      border: none;
      border-bottom: 2px solid #d5d5d5;
      padding-left: 2.6875rem;
  }
}

@include respond-to($sm) {
  .input {
    margin-bottom: 1.25rem;
  }
}