
.number-input {
  position: relative;
  width: 4.375rem;
  display: flex;
  &__field {
    width: 100%;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ddd;
    padding: 0.5rem 0.3125rem 0.75rem 0.625rem;
  }
  &__control {
    position: absolute;
    width: 1.25rem;
    height: 50%;
    right: 0;
    left: auto;
    z-index: 1;
    padding: 0 0.1875rem;
      background-color: #fff;
    border: 1px solid #ddd;
    background-size: 0.625rem;
    background-repeat: no-repeat;
    background-position: center center;
    &_plus {
      top: 0;
      border-bottom: none;
      background-image: url(../assets/img/icons/up-chevron.svg);
    }
    &_minus {
      background-image: url(../assets/img/icons/down-chevron.svg);
      bottom:0;
    }
  }
}