.pagination {
  display: flex;
  width: 100%;
  padding: 1.0625rem 2.5rem;
  border: 3px solid #ededed;

  &__item {
    flex-grow: 1;
    min-height: 1px;
    width: 1.9375rem;
    height: 2rem;
  }

  &__scale {
    flex-grow: 2;
    display: flex;
    justify-content: center;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1.875rem;
    font-size: 1rem;
    padding: 0.3125rem;
    line-height: 1;
    &.dotes {
      &:hover {
        background-color: transparent;
        color: inherit;
      }
    }
    &:hover,
    &_active {
      background: $primary-color;
      color: $light;
      cursor: pointer;
    }

    &_nav {
      background: $light;
      display: inline-block;
      padding: 0.5rem;
    }

  }

  .img {
    width: 100%;
  }

  .rotate-right {
    transform: rotate(90deg);
  }

  .rotate-left {
    transform: rotate(-90deg);
  }

  .pagination__text {
    display: inline-block;
    color: #757575;
    font-size: 1rem;
    margin: 0 0.9375rem;
  }
}

@include respond-to($xs) {
  .pagination {
    padding-left: 1rem;
    padding-right: 1rem;
    &__btn {
      font-size: 12px;
      min-width: 1.275rem;
    }
    &__item {
      display: flex;
      align-items: center;
      height: 1.25rem;
    }
    .pagination__text {
      display: none;
    }
    .pagination__item.text_right{
      justify-content: flex-end;
    }
  }
}