.page {
  background-image: url(../assets/img/bg-detals.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-background-size: 100%;
  background-size: 100%;
  .footer {
    margin-top: 130px;
  }
}