.search-bar {
  background-color: $primary-color;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;

  .btn_search {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    .icon {
      margin-left: 0.9rem;
    }
  }
}