.search-bar {
  background-color: $primary-color;
  padding-top: 0.9375rem;
  padding-bottom:0.9375rem;
  margin-bottom: 4.375rem;
  color: #fff;

  .btn_search {
        padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    font-family: $primary-fonts;
    font-size: 1.125rem;
    font-weight: 700;
    .icon {
      transition: fill .35s;
      margin-left: 0.9rem;
    }
    &:hover,
    &:focus{
      .icon {
        fill: $warning-color;
      }
    }
  }

  @include respond-to($lg) {
    .heading {
      font-size: 1.125rem;
    }
  }

  @include respond-to($md) {
    .heading {
      text-align: center;
      margin-bottom: 15px;
    }
  }

  @include respond-to($sm) {
    .wrap-btn {
      text-align: right;
    }
  }
}