.sidebar {
  border: 3px solid #ededed;
  padding: 1.875rem 2.5rem;
  font-family: $secondary-font;
  font-size: 0.875rem;

  .heading_default {
    color: #2e2e2e;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: normal;
    small {
      display: block;
    }
  }

  hr {
    display: block;
    width: 100%;
    border: none;
    height: 1px;
    background-color: #d5d5d5;
    margin-top: 0;
    margin-bottom: 0.9375rem;
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }

  &__section {
    padding: 0 0 0.8375rem;
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .phone-link {
      display: inline-block;
      font-family: $primary-fonts;
      margin-bottom: 1rem;
    }
    li {
      line-height: 1.25;
      font-size: 1rem;
      margin-bottom: 0.9375rem;
      color: #000000;

      &:before {
        top: 1px;
      }
    }

    .unorder-list__item {
      padding-left: 2rem;
    }
  }

  &__title {
    position: relative;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.9375rem;
  }

  .question__text {
    font-size: 1rem;
    margin-bottom: 0.3rem;
    color: #757575;
  }

  .checkbox-wrap {
    margin: 0 0 0.75rem;
  }

  .custom-select-wrap {
    margin-bottom: 0.875rem;
  }
}

@include respond-to($sm) {
  .sidebar {
    padding: 1.875rem;
  }
}

