.sidebar {
  border: 3px solid #ededed;
  padding: 1.875rem 2.5rem;
  height: 100%;
  font-family: $secondary-font;
  font-size: 0.875rem;

  .heading_default {
    color: #2e2e2e;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: normal;
    small {
      display: block;
    }
  }
  
  hr {
    display: block;
    width: 100%;
    border: none;
    height: 1px;
    background-color: #d5d5d5;
    margin-top: 0;
    margin-bottom: 0.9375rem;
  }

  &__link {
    &:hover{
      text-decoration: underline;
    }
  }

  &__section {
    padding: 0 0 0.8375rem;
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .phone-link {
      display: inline-block;
      margin-bottom: 1rem;
    }
  }

  &__title {
    position: relative;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.9375rem;
  }

  .sidebar__section {
    li {
      line-height: 1.25;
      font-size: 1rem;
      margin-bottom: 0.9375rem;
      color: #000000;

      &:before {
        top: 1px;
      }
    }

    .unorder-list__item {
      padding-left: 2rem;
    }

    .custom-select {
      position: relative;
      width: 100%;
      max-width: 400px;
      display: block;
      font-size: 1rem;
      padding: .8rem 3rem .5rem 1.6rem;
      margin: 0;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-image: url('../assets/img/vn.png');
      background-repeat: no-repeat;
      background-position: right 1.2rem top 50%;
      background-size: .65rem auto, 100%;
      border: 1px solid #dcdcdc;
      overflow: hidden;
      margin-bottom: 0.875rem;

      &:after {
        position: absolute;
        content: '';
        display: block;
        background: #dcdcdc;
        width: 100%;
        height: 1.875rem;
        top: 0;
        bottom: 0;
        z-index: 2;
      }
    }

    .custom-select::-ms-expand {
      display: none;
    }

    .select-items {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99;
    }
  }

  .question__text {
    font-size: 1rem;
    margin-bottom: 0.3rem;
    color: #757575;
  }

  .checkbox-wrap {
    margin: 0 0 0.75rem;
  }
}

@include respond-to($sm) {
  .sidebar {
    padding: 1.875rem;
  }
}

