.section-suppliers {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;

  .suppliers-list {
    margin: 0 -15px 1.25rem;

    &__item {
      padding: 15px;
    }

    &__link {
      flex-grow: 1;
    }
  }

  .supplier-logo {
    display: flex;
    background: linear-gradient(to bottom, #fff 30%, #f3f3f3 25%);
    padding-bottom: 1.5625rem;
    height: 6.25rem;
    margin-bottom: 0.9375rem;

    &__img {
      display: block;
      margin: auto;
      width: auto;
      height: 100%;
    }
  }

  .wrap-text {
    padding-top: 0.9375rem;
  }

  @include respond-to($xs){
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  }
}