.section-about {
  display: flex;
  min-height: 24.25rem;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;

  .link:hover,
  .link:focus {
    .wrap-img .hide {
      opacity: 1;
    }

    .heading {
      color: $primary-color;
    }

    .text_md {
      color: $primary-color;
    }

    .card {
      border-top: 0.125rem solid $warning-color;
      border-left: 0.125rem solid $warning-color;
      border-right: 0.125rem solid $warning-color;
      transition: .35s;

      &:before,
      &:after {
        transition: background-color .35s;
        background-color: $warning-color;
      }
    }
  }

  .heading {
    color: $dirty;
    letter-spacing: 0.2rem;
  }

  .card {
    position: relative;
    padding: 2.1875rem 3.375rem;
    border-top: 0.125rem solid $light;
    border-left: 0.125rem solid $light;
    border-right: 0.125rem solid $light;

    &:before {
      content: '';
      position: absolute;
      height: 0.125rem;
      width: 20.5rem;
      background-color: $light;
      left: 0;
      bottom: 0;
      z-index: 1;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 0.125rem;
      bottom: 0;
      z-index: 1;
      background-color: $light;
    }

    &:before {
      width: 58%;
      left: 0;
    }

    &:after {
      width: 14%;
      right: 0;
    }
  }

  .text_md {
    color: $dirty;
    max-width: 16.25rem;
  }

  .wrap-img {
    width: 18%;
    padding-top: 18%;
    position: absolute;
    right: 18.5%;
    bottom: 0;
    -webkit-transform: translateY(45%);
    transform: translateY(45%);
  }

  .img {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    display: block;
  }

  .img_about {
    transition: .42s;
  }

  .hide {
    position: absolute;
    width: 100%;
    left: -0.1875rem;
    right: 0;
    bottom: 0;
    top: -0.1875rem;
    opacity: 0;
    z-index: 2;
    display: block;
    transition: .42s;
  }
}


@include respond-to($md) {
  .section-about {
    padding-bottom: 0.75rem;
    padding-top: 2.75rem;
  }
  .heading_sm {
    font-size: 1rem;
  }
  .link {
    margin-bottom: 1.875rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include respond-to($sm) {
  .card {
    margin-bottom: 2.3125rem;
  }
}

@include respond-to($xs) {
  .section-about {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    .card {
      padding: 1.1875rem 2.375rem;
    }
  }
}
@media all and (max-width: 540px) {
  .section-about {
    .card {
      padding-bottom: 2.1rem;
    }
  }
}
