html {
  font: 400 16px/1.25 $primary-fonts;
}

.wrapper {
  padding-top: 5.9375rem;
}

.icon {
  fill: $primary-color;
}

.bg_bottom {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 30.375rem;
}

.color_grey {
  color: $light-dirty;
}

.color_primary {
  color: $primary-color;
}

.text_decoration {
  text-decoration: underline;
}

@include respond-to($xs) {
  .wrapper {
    padding-top: 3.8rem;
  }
}

.link {
  display: inline-block;
  -webkit-transition: .35s;
  transition: .35s;

  &_default {
    color: #d5d5d5;

    &:hover,
    &:focus {
      color: #303c84;
      text-decoration: underline;
    }
  }
}

.phone-link {
  font-size: 1.5rem;
  color: $primary-color;
  flex-shrink: 0;
  font-weight: 700;
  transition: .35s;

  &:hover {
    text-decoration: underline;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

