html {
    font: 400 16px/1.25 $primary-fonts;
}

.wrapper {
    padding-top: 5.9375rem;
}

.icon {
    fill: $primary-color;
}

.bg_bottom {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 30.375rem;
}

.color_grey {
    color: $light-dirty;
}

.color_primary {
    color: $primary-color;
}

@include respond-to($xs){
    .wrapper {
        padding-top: 6.9375rem;
    }
}