html {
    font: 400 16px/1.25 $primary-fonts;
}

.wrapper {
    padding-top: 5.9375rem;
}

.icon {
    fill: $primary-color;
}

// @TODO RENAME THIS CLASS
.bg-bottom {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 30.375rem;
}