/**
*TEXT UTILITIES
*/

.heading {
  display: block;
  text-transform: uppercase;
  font-family: "MyriadPro";
  font-weight: 700;
  &_xl {
    font-size: 2.875rem;
    small {
      font-size: 67.4%;
    }
  }
  &_lg {
    font-size: 1.875rem;
  }
  &_md {
    font-size: 1.375rem;
  }
  &_sm {
    font-size: 1.0625rem;
  }
  &_default {
    font-size: 1rem;
  }
}

.text {
  &_right {
    text-align: right;
  }
  &_center {
    text-align: center;
  }
  &_bold {
    font-weight: 700;
  }
  &_left {
    text-align: left;
  }
  &_md {
    font-size: 1.25rem;
  }
  &_sm {
    font-size: 1.0625rem;
  }
}

@include respond-to($sm) {
  .heading_xl {
    font-size: 2rem;
  }
  .heading_lg {
    font-size: 1.5rem;
  }
}