/*
* Fonts
*/
$primary-fonts: 'MyriadPro', sans-serif;
$secondary-font: 'PT Sans', sans-serif;

/*
* Colors
*/

$primary-color: #252d75;
$black: #383838;
$dark: #2e2e2e;
$warning-color: #ffc400;
$light: #ebebeb;
$light-gray: #f3f3f3;
$dirty: #a7a7a7;
$gray: #6c6c6c;
$light-dirty: #afafaf;


/*
* Breakpoints
*/

$xs: '(max-width: 576px)';
$sm: '(max-width: 767px)';
$md: '(max-width: 991px)';
$lg: '(max-width: 1199px)';
$xl: '(min-width: 1200px)';
