.product-page {
  hr {
    margin-bottom: 1.5rem;
  }
  .heading_default {
    margin-bottom: 1rem;
  }

  .product-card {
    border: 3px solid #ededed;
    padding: 1.875rem 1.5rem;

    .product-card__link {
      font-family: $secondary-font;
      &:first-of-type {
        margin-bottom: 0.9375rem;
      }
    }

    &__title {
      margin-bottom: 1.5625rem;
      letter-spacing: normal;
      text-transform: none;
    }

    &__table {
      display: table;
      width: 100%;
      table-layout: fixed;
      font-size: 0.8125rem;
      text-transform: uppercase;
    }

    &__row {
      display: table-row;
    }

    &__cell {
      display: table-cell;
      padding-bottom: 0.625rem;

      &_title {
        width: 40%;
        font-weight: 700;
      }
    }

    .btn {
      font-size: 0.75rem;
    }

    .number-input {
      margin-right: 0.9375rem;
    }
  }
}

@include respond-to($md) {
  .product-page {
    .sidebar {
      margin-top: 2rem;
    }
  }
}

@include respond-to($xs) {
  .product-card {
    .btn_cart {
      overflow: hidden;
      text-indent: -999rem;
      padding-left: .05rem;
      padding-right: .05rem;
      background-image: url(../assets/img/icons/shopping-cart.svg);
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: auto 20px;
      background-size: auto 20px;
      font-size: inherit;
      line-height: 1;
    }
  }
}

