.page-cart {
  font-family: $secondary-font;

  &__sidebar {
    padding-top: .5rem;

    .input {
      margin-bottom: .5rem;
    }
  }

  .sidebar__header {
    background-color: #f3f3f3;
    padding: 10px;
    text-align: center;
    font-family: $secondary-font;

    .heading {
      font-size: 13px;
      line-height: 1.5;
      font-weight: normal;
    }
  }

  .section-cart {
    padding: 6.25rem 0;
  }

  .heading_lg {
    margin-bottom: 2.25rem;
  }

  .catalog-table {
    &__body {
      border-bottom: none;
    }

    &__footer {
      display: block;
      border: 3px solid $light;
      border-top: none;
      padding: 0.75rem 1.375rem 1.2rem;

      .total,
      .cost {
        font-size: 1.25rem;
        font-weight: 700;
      }
    }

    &__remove-btn {
      position: relative;
      border: none;
      background-color: #ff2e33;
      transform: scaleX(0);
      transform-origin: 100% 50%;
      transition: .4s;
      width: 40px;
      height: 41px;
      margin-right: -40px;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        display: block;
      }
    }

    .cell-btn {
      flex-shrink: 0;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      overflow: hidden;

      .btn {
        width: 100%;
        overflow: hidden;
        transition: .4s width, background-color .35s;
      }
    }

    &__row {
      &:last-child {
        &:after {
          display: block;
        }
      }

      &:hover {
        .btn {
          color: transparent;
          width: 3.06rem !important;
          background-image: url(../assets/img/icons/shopping-cart.svg);
          background-position: center;
          background-repeat: no-repeat;
          -webkit-background-size: auto 20px;
          background-size: auto 20px;
        }

        .catalog-table__remove-btn {
          transform: scale(1, 1);
          margin-right: 0;
          margin-left: 10px;
          opacity: 1;
        }
      }
    }

    .total {
      color: $dark;
    }

    .cost {
      color: $primary-color;
    }
  }
}

@include respond-to($lg) {
  .page-cart {
    .catalog-table__remove-btn {
      opacity: 1 !important;
      transform: scaleX(1) !important;
      margin-right: 0;
      margin-left: 10px;
    }

    .cell-btn {
      .btn {
        color: transparent;
        width: 3.06rem !important;
        background-image: url(../assets/img/icons/shopping-cart.svg);
        background-position: center;
        background-repeat: no-repeat;
        -webkit-background-size: auto 20px;
        background-size: auto 20px;
      }
    }
  }
}

@include respond-to($xs) {
  .page-cart {
    .catalog-table__remove-btn {
      height: 37px;
    }
  }
}