.page-catalog {
  font-family: $secondary-font;

  .heading_lg {
    margin-bottom: 1.875rem;
  }

  .product-link {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  &__sidebar {
    .phone-link {
      margin-bottom: 2rem;
    }
  }
}

.catalog-table {
  font-family: $secondary-font;
  display: table;
  width: 100%;
  table-layout: fixed;
  font-size: 1rem;

  &__header {
    display: table-row;
    font-size: 0.8125rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #f3f3f3;

    .catalog-table__cell {
      padding-top: .75rem;
      padding-bottom: .75rem;
    }
  }

  &__body {
    display: table-row-group;
    border: 3px solid #ededed;
  }

  &__row {
    display: table-row;
  }

  &__cell {
    display: table-cell;
    padding: 1rem 0.625rem 1.5625rem;
    border-bottom: 1px solid #e1e1e1;
    font-weight: 400;

    &.type {
      width: 54%;
      padding-left: 1.5625rem;
    }

    &.quantity {
      width: 6.875rem;
    }

    &.cell-btn {
      padding-right: 1.5625rem;

    }
  }

  & + .pagination {
    border-top: none;
  }

  .type__text {
    color: #888888;
    margin-bottom: 0.625rem;
    font-size: 1rem;
  }

  .price__text {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .price {
    width: 18%;
  }

  .quantity {
    width: 11%;
  }

  .serial-number {
    margin-bottom: 0.625rem;
  }
}

