.section-contacts {
  padding-top: 4.125rem;
  padding-bottom: 8.75rem;
}

.title-page-contacts {
  margin-bottom: 2.5rem;
}

.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -1.4375rem 2rem;
  font-size: 1.5rem;

  &__item {
    width: 33%;
    padding: 0 1.4375rem;
  }

  &__link {
    display: block;
    transition: .35s;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .card-contact {
    position: relative;
    padding: 2.3125rem 3.3125rem 2.0625rem;
    border-top: 2px solid $light;
    border-bottom: 2px solid $light;
    border-right: 2px solid $light;
    color: $primary-color;

    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 20%;
      width: 2px;
      left: 0;
      z-index: 1;
      background-color: $light;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }

  .text_md {
    max-width: 16.25rem;
  }

  .text_contacts {
    position: relative;
    margin-bottom: 0.75rem;

    &:before {
      position: absolute;
      content: '';
      width: 2.5rem;
      height: 2.5rem;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      display: inline-block;
      z-index: 1;
      left: -4.375rem;
    }

    &.map:before {
      width: 2rem;
      height: 2rem;
      background-image: url(../assets/img/icons/map2.svg);
    }


    &.mail:before {
      left: -4.2rem;
      bottom: -0.5rem;
      background-image: url(../assets/img/icons/mail.svg);
    }

    &.fly:before {
      width: 2.125rem;
      height: 2.125rem;
      background-image: url(../assets/img/icons/paperplane.svg);
    }

    &.mobile:before {
      width: 1.75rem;
      height: 2.65rem;
      left: -4.125rem;
      bottom: -1.875rem;
      background-image: url(../assets/img/icons/mobile.svg);
    }

    &.clock:before {
      bottom: -0.5rem;
      background-image: url(../assets/img/icons/time.svg);
    }
  }

}

.section-location {
  .map-responsive {
    overflow: hidden;
    padding-bottom: 29.25%;
    position: relative;
    height: 0;
  }

  .map-responsive iframe {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

@include respond-to($lg) {
  .section-contacts {
    padding-top: 2.125rem;
    padding-bottom: 4.75rem;
  }
  .contact-list {
    font-size: 1.3rem;

    &__item {
      width: 50%;
      margin-bottom: 1.5rem;
    }
  }
  .section-location {
    .map-responsive {
      padding-bottom: 50%;
    }
  }
}

@include respond-to($md) {
  .contact-list {
    &__item {
      width: 80%;
      margin-bottom: 1.5rem;
    }
  }
}

@include respond-to($sm) {
  .section-contacts {
    padding-top: 0.125rem;
    padding-bottom: 1.75rem;
  }
  .section-location {
    .map-responsive {
      padding-bottom: 70%;
    }
  }
}